* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}
.container {
  width: 400px;
  height: 720px;
  border: 1px solid green;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.title {
  font-size: x-large;
  color: green;
}